.skill_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    background-color: #FFFFFF;
    border: 2px solid #EDF2F7;
    border-radius: 5px;
}

.skill_wrapper img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin-bottom: 15px;
}

.skill_title {
    margin-bottom: 15px;
}