.item_container {
    padding: 10px;
    border: solid 1px lightslategrey;
    border-radius: 4px;
    background-color: #fff;
    display: grid;
    grid-template-columns: 60px 1fr 100px;
    gap: 15px;
}

.item_description {
    padding: 5px;
}

.item_year {
    text-align: center;
    padding: 5px;
}

.item_image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item_image img {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
}

.item_title {
    margin-bottom: 10px;
}

.item_subtitle {
    margin-bottom: 10px;
}

.item_skill {
    display: flex;
    flex-wrap: wrap;
}

.item_skill span {
    background-color: #9AB8BA;
    padding: 3px 8px;
    border-radius: 3px;
    margin-right: 7px;
}


@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
    .item_container {
        padding: 10px 10px 0px 10px;
    }
    .item_skill span {
        margin-bottom: 10px;
    }
}

@media (max-width: 479.98px) {
    .item_container {
        padding: 10px 10px 10px 10px;
        grid-template-columns: 1fr;
    }
    .item_year {
        text-align: left;
    }
}