.about_container {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.about_title {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 28px;
    border-bottom: solid 1px #e2e8f0;
    align-self: center;
}

.about_subtitle {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 22px;
    border-bottom: solid 1px #e2e8f0;
    align-self: center;
}

.about_items {
    display: grid;
    gap: 20px;
}

.about_section {
    margin-bottom: 30px;
}