.project_wrapper {
    border: 1px solid #EDF2F7;
    border-radius: 5px;
    background-color: #FFFFFF;
}

.project_wrapper img {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 15px;
    background-color: lightslategrey;
}

.project_description {
    padding: 15px;
}

.project_title {
    margin-bottom: 10px;
}

