.contact_form_container {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;;
}

.contact_form_title {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    padding-bottom: 5px;
    font-size: 28px;
    border-bottom: solid 1px #e2e8f0;
    align-self: center;;
}

.contact_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    min-height: 300px;
    margin: 0 auto;
    padding: 15px;
}

.contact_form input, .contact_form textarea {
    width: 100%;
}



@media (max-width: 991.98px) {
    .contact_form {
        width: 80%;
    }
}

@media (max-width: 767.98px) {
    .contact_form {
        width: 100%;
    }
}

@media (max-width: 479.98px) {}