.about_me_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 150px;
    height: 100vh;
}

.about_me_avatar {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    object-fit: cover;
    flex: 0 0 auto;
    margin-right: 40px;
    background-color: lightslategrey;
}

.about_me_description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 20%;
}

.about_me_description span {
    font-size: 28px;
    font-weight: 600;
}

.about_me_divider {
    width: 60px;
    height: 2px;
    background-color: #7788993b;
}

.about_me_description h1 {}

.about_me_description p {}


@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {
    .about_me_container {
        flex-direction: column;
        justify-content: flex-start;
    }
    .about_me_avatar {
        margin-right: 0px;
        margin-bottom: 50px;
    }
    .about_me_description {
    }
}

@media (max-width: 479.98px) {}